
<div class="container">
  <img src="http://media.groupspaces.com/thumb/s/20407314/h/40ba98a8cfcb61e2ca0b3eeb0bd9bec7.jpg" class="img-fluid" align="center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width:955px;">    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="show_div('home');">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="show_div('about');">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Trip Reports</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="home" class="content-div" style="width:955px;">
      <div class="container">
          <div class="row rounded-top bg-secondary" style="border-radius: 10px !important;">
            <div class="col">
              Our Next Event
            </div>            
          </div>
          <div class="row bg-light">
            <div class="col">
              Mulberry Fork Canoe &amp; Kayak Race - set up weekend
            </div>
          </div>
          <div class="row bg-light">
              <div class="col">
                Saturday, February 24th, 2018 at 9am - 5pm
              </div>
          </div>          
        </div>
  </div>
  <div id="about" style="display: none;" class="content-div">
      About Content
  </div>
</div>
